{% extends "base.html.twig" %}

{% block body %}

<h1>Bienvenue dans ce Blog ! </h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur autem ex asperiores nemo molestias cum necessitatibus ea mollitia unde aspernatur odit amet incidunt nobis, id inventore hic similique dolores nesciunt saepe dolore quaerat. Doloribus culpa earum, est ab velit provident.</p>
<p>Facilis, fugit. Nam eaque harum nostrum quisquam voluptates animi dignissimos laborum rem neque doloribus sunt deleniti ullam officia dolor quis sit ipsum, ea nesciunt nobis sed, nulla blanditiis sapiente. Aperiam necessitatibus quibusdam enim. Rem facilis quas non ex labore sint?</p>

{% endblock %}